<% provide(:title, 'Progressor Dashboard') %>
<%= render 'layouts/admin/dashboardnavigation' %>
<div class="container">
  <div class="row">
      <div class="col-sm-6 no-padding-left">
        <div class="panel">
          <h3>Total Users: <%= @usersCount %></h3>
          <%= line_chart User.group_by_day(:created_at).count, colors: ["red"] %>
          <p>
            <h3>Tickets Count: <%= @ticketsCount %></h3>
            <%= line_chart Ticket.group_by_day(:created_at).count, colors: ["red"] %>
          </p>
        </div>
      </div>

      <div class="col-sm-6 no-padding-right">
        <div class="panel">
          <h3>Newest Users</h3>
          <table class="table table-striped">
            <tbody>
              <tr>
                <th>Preview</th>
                <th>Name</th>
                <th>Email</th>
                <th>Subscription</th>
              </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to("", admin_user_path(user), :class => 'glyphicon glyphicon-user btn btn-primary btn-sm') %></td>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.role.capitalize %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= will_paginate @users %> <!-- For New Users area -->
        </div>
      </div>

    </div> <!-- Row -->
</div> <!-- Container -->
