
<%= render 'layouts/frontend_sub_header' %>
<div class="container">
  <div class="row">

<%= render 'sidebar' %>

<div class="ticket-body col-sm-9 panel">
  <h3>Fill out the following to Submit a Ticket</h3>
  <%= form_for @ticket do |f| %>
    <% if @ticket.errors.any? %>
      <div class="alert alert-error">
        <b><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</b>

        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <table class="table">
    <tbody>
      <tr>
        <td><%= f.hidden_field :user_id, value: current_user.id  %></td>
      </tr>
      <tr>
        <th><%= f.label :category_id, "In which area are you having an issue?" %></th>
        <td><%= f.select(:category_id, Category.order("name ASC").map { |c| [c.name, c.id] }, {}, {:class => 'form-control'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :ticket_status_id %></th>
        <td><%= f.select(:ticket_status_id, TicketStatus.order("position ASC").map { |c| [c.name, c.id] }, {}, {:class => 'form-control'}) %></td>
      </tr>
      <tr>
        <th><%= f.label :title, "Ticket Title" %></th>
        <td><%= f.text_field :title, :class => 'form-control' %></td>
      </tr>
      <tr>
        <th><%= f.label :description, "Ticket Description" %></th>
        <td><%= f.text_area :description, :class => 'form-control', :rows => "10" %></td>
      </tr>
    </tbody>
  </table>
  <hr>
    <div class="form-actions">
      <% if @ticket.id %>
        <%= link_to 'Cancel', tickets_path, :class => "btn btn-danger" %>
      <% else %>
        <%= link_to 'Cancel', tickets_path, :class => "btn btn-danger" %>
      <% end %>
      <%= f.submit :class => "btn btn-success pull-right" %>
    </div>
  <% end %>
</div> <!-- col-sm-9 -->
