<div class="container">
  <div class="row">
    <hr>
    <h3><%= content_for?(:title) ? content_for(:title) : "Progressor Admin" %>
    <span><%= link_to current_user.email, edit_user_registration_path, :class => 'glyphicon glyphicon-user btn btn-primary btn-sm pull-right', id: 'tooltip-profile', data: {toggle: 'tooltip', placement: 'right'}, :'data-original-title' => 'View Profile' %></span>
    </h3>
    <hr>

<%= render 'sidebar' %>

<div class="col-sm-9">
  <%= form_for @ticket do |f| %>
    <% if @ticket.errors.any? %>
      <div class="alert alert-error">
        <b><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</b>

        <ul>
          <% @ticket.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <table class="table panel">
    <tbody>
      <tr>
        <td><%= f.hidden_field :user_id, value: current_user.id  %></td>
      </tr>
      <tr>
        <td><%= f.label :category_id, "In which area are you having an issue?" %></td>
        <td><%= f.select(:category_id, Category.order("name ASC").map { |c| [c.name, c.id] }, {}, {:class => 'form-control'}) %></td>
      </tr>
      <tr>
        <td><%= f.label :ticket_status_id %></td>
        <td><%= f.select(:ticket_status_id, TicketStatus.order("position ASC").map { |c| [c.name, c.id] }, {}, {:class => 'form-control'}) %></td>
      </tr>
      <tr>
        <td><%= f.label :title, "Ticket Title" %></td>
        <td><%= f.text_field :title, :class => 'form-control' %></td>
      </tr>
      <tr>
        <td><%= f.label :description, "Ticket Description" %></td>
        <td><%= f.text_area :description, :class => 'form-control', :rows => "10" %></td>
      </tr>
    </tbody>
  </table>
    <div class="form-actions">
      <% if @ticket.id %>
        <%= link_to 'Cancel', tickets_path, :class => "btn btn-danger" %>
      <% else %>
        <%= link_to 'Cancel', tickets_path, :class => "btn btn-danger" %>
      <% end %>
      <%= f.submit :class => "btn btn-success pull-right" %>
    </div>
  <% end %>
</div> <!-- col-sm-9 -->
