<div class="container">
  <div class="row">
    <h3>Invitations</h3>
    <%= render 'layouts/admin/dashboardnavigation' %>

    <div class="col-lg-8 no-padding-left">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Invited By</th>
              <th>User Email</th>
              <th>Sent at</th>
              <th>Accepted at</th>
              <th>Password</th>
            </tr>
            <% @users.each do |user| %>
            <tr>
                <td><%= user.invited_by_type if user.invited_by_type %></td>
                <td><%= user.email if user.email %></td>
                <td><%= user.invitation_sent_at.strftime("%d %b. %Y - %H:%M") if user.invitation_sent_at %></td>
                <td><%= user.invitation_accepted_at.strftime("%d %b. %Y - %H:%M") if user.invitation_accepted_at.present? %></td>
                <td><div class="glyphicon glyphicon-<%= user.encrypted_password == '' ? 'remove' : 'ok' %> btn btn-sm btn-<%= user.encrypted_password == '' ? 'danger' : 'success' %>"></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>

    </div>
    <div class="col-lg-4 no-padding-right">
      <%= link_to 'Invite someone you know!', new_user_invitation_path, :class => 'btn btn-primary btn-block', id: 'tooltip-invites', data: {toggle: 'tooltip', placement: 'top'}, :'data-original-title' => 'Get them in here!' %>
      <hr>
      <div class="panel">
        <ul>
          <li>Invite Friends</li>
          <li>Invite Family</li>
          <li>Invite Co-Workers</li>
          <li>Email confirmation is required</li>
        </ul>
      </div>
    </div>
    <%= will_paginate @users %>
  </div>
</div>
