<% provide(:title, 'Progressor Invitations') %>
<div class="container">
  <div class="row">

    <div class="col-lg-8 no-padding-left">
      <div class="panel">
        <%= form_tag admin_invitations_path, method: :get do %>
           <div class="input-group">
            <%= text_field_tag :search, params[:search], class: 'form-control', :placeholder => 'Search by User Email' %>
            <span class="input-group-btn">
            <%= submit_tag "Search", :name => nil, class: 'btn btn-success' %>
            </span>
          </div>
        <% end %>
      </div>
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th>Invited By</th>
              <th>User Email</th>
              <th>Sent</th>
              <th>Accepted</th>
              <th>Password</th>
              <th>Options</th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.name if user.invited_by_type %></td>
                <td><%= user.email if user.email %></td>
                <td><%= user.invitation_sent_at.to_s(:custom_time) unless user.invitation_sent_at.blank? %></td>
                <td><%= user.invitation_accepted_at.to_s(:custom_time) unless user.invitation_accepted_at.blank? %></td>
                <td><div class="glyphicon glyphicon-<%= user.encrypted_password == '' ? 'remove' : 'ok' %> btn btn-sm btn-<%= user.encrypted_password == '' ? 'danger' : 'success' %>"></div></td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <span class="glyphicon-class glyphicon glyphicon-cog"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li><%= link_to 'Resend Invite', method: 'resend_invite' %></li>
                      <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="col-lg-4 panel">
      <%= link_to 'Invite someone you know!', new_user_invitation_path, :class => 'btn btn-primary btn-block', id: 'tooltip-invites', data: {toggle: 'tooltip', placement: 'top'}, :'data-original-title' => 'Get them in here!' %>
      <hr>
      <div class="">
        <ul>
          <h3>Features</h3>
          <li>Invite whoever by email.</li>
          <li>Email confirmation is required.</li>
          <li>Green indicates the user has accepted the email confirmation and set a password.</li>
        </ul>
      </div>
    </div>

    <%= will_paginate @users %>
  </div> <!-- Row -->
</div> <!-- Container -->
