<% provide(:title, 'Progressor Invitations') %>
<%= render 'layouts/admin/dashboardnavigation' %>
<div class="container">
  <div class="row">

    <div class="col-lg-8 no-padding-left">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>Invited By</th>
              <th>User Email</th>
              <th>Sent at</th>
              <th>Accepted at</th>
              <th>Password</th>
              <th>Options</th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.invited_by_type if user.invited_by_type %></td>
                <td><%= user.email if user.email %></td>
                <td><%= user.invitation_sent_at.strftime("%d %b. %Y") if user.invitation_sent_at %></td>
                <td><%= user.invitation_accepted_at.strftime("%d %b. %Y") if user.invitation_accepted_at %></td>
                <td><div class="glyphicon glyphicon-<%= user.encrypted_password == '' ? 'remove' : 'ok' %> btn btn-sm btn-<%= user.encrypted_password == '' ? 'danger' : 'success' %>"></div></td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-success btn-sm" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                      <span class="glyphicon-class glyphicon glyphicon-cog"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
                    </ul>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>

    <div class="col-lg-4 no-padding-right">
      <%= link_to 'Invite someone you know!', new_user_invitation_path, :class => 'btn btn-primary btn-block', id: 'tooltip-invites', data: {toggle: 'tooltip', placement: 'top'}, :'data-original-title' => 'Get them in here!' %>
      <hr>
      <div class="panel">
        <ul>
          <h3>Features</h3>
          <li>Invite whoever by email.</li>
          <li>Email confirmation is required.</li>
          <li>Green indicates the user has accepted the email confirmation and set a password.</li>
        </ul>
      </div>
    </div>

    <%= will_paginate @users %>
  </div> <!-- Row -->
</div> <!-- Container -->
