<td>
  <%= link_to("", admin_user_path(user), :class => 'glyphicon glyphicon-user btn btn-primary') %>
</td>
<td>
  <%= link_to("", edit_user_registration_path, :class => 'glyphicon glyphicon-pencil btn btn-primary') %>
</td>
<td>
  <%= user.name %>
</td>
<td>
  <%= user.email %>
</td>
<%= form_for(user) do |f| %>

    <td>
      <% if current_user.admin? %>
        <%= f.select(:role, User.roles.keys.map {|role| [role.titleize,role]}, {}, { :class => 'form-control' }) %>
      <% else %>
        <%= user.role.capitalize %>
      <% end %>
    </td>
    <td>
      <% if current_user.admin? %>
        <%= f.submit "Update", :class => 'glyphicon glyphicon-floppy-saved btn btn-success' %>
      <% end %>
    </td>

<% end %>
<td>
  <%= user.created_at.to_s(:custom_time) if user.created_at %>
</td>
<td>
  <%= user.last_sign_in_at.to_s(:custom_time) if user.last_sign_in_at %>
</td>
<td>
  <%= link_to("", admin_user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'glyphicon glyphicon-remove btn btn-danger') unless user == current_user %>
</td>
