
<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Progressor</h2>
      <p>Manage yourself.</p>
    </div>
      <hr>
      <div class="col-sm-12">
        <p class="pull-right">
          <%= link_to '<span class="glyphicon glyphicon-circle-arrow-up"></span> Back to top'.html_safe, '#Top' %>
        </p>
        <p>
          &copy; <%= Time.now.year %> <%= site_name %>
          &bull;
          <%= link_to "Privacy", privacy_path %></li>
          &bull;
          <%= link_to "Terms", terms_path %></li>
        </p>
      </div>
  </div>
</div>
