
<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h1 class="text-uppercase">Pages</h1>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="col-sm-6">
      <h1 class="text-uppercase">Connect</h1>
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <hr>
    <p class="pull-right">
      <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
    </p>
    <p>
      &copy; <%= Time.now.year %> <%= site_name %>
      &bull;
      <%= link_to "Privacy", privacy_path %></li>
      &bull;
      <%= link_to "Terms", terms_path %></li>
    </p>
  </div>
</div>
