<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Progressor" %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="author" content="<%= meta_author %>">
    <meta name="Keywords" content="<%= meta_keywords %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,900,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body class='<%= controller.controller_name %> <%= "#{action_name}" %>'>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <%= render 'layouts/admin/dashboardnavigation' %>
        <% end %>
      <% end %>
       <%= render 'layouts/messages' %>

      <!-- Jumbotron is useful method that can be used to display important headers on any page.
           It can be moved around in this template to declare a different area. -->
       <% if content_for?(:jumbotron) %>
        <div class="jumbotron">
          <div class="container">
            <%= yield :jumbotron %>
          </div>
        </div>
       <% end %>

       <%= yield %>
    </main>
    <footer class="footer-main bg-primary">
      <%= render 'layouts/main_footer' %>
    </footer>
  </body>
</html>
